<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <runtime>
    <DisableMSIPeek enabled="true"/>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="CommonExtensions\Microsoft\TeamFoundation\Team Explorer;PrivateAssemblies" />
    </assemblyBinding>
  </runtime>
  
  <!-- Trace settings.
       Uncomment the system.diagnostics section below to get trace and perf log for
       Team Foundation command line tool. For trace logging ensure that C:\logs directory 
       exists and is writeable.

       The following trace categories are provided:
        - TeamFoundationSoapProxy - covers Team Foundation Server web methods usage
        - VersionControl - covers version control operations

      Trace Switches
        Each of the trace switches should be set to a value between 0 and 4, inclusive.
          0:No trace output
          1-4:Increasing levels of trace output; see Systems.Diagnostics.TraceLevel
  -->

  <!--
    <appSettings>
        <add key="TFTrace.Writer" value="true" />
        <add key="TFTrace.DirectoryName" value="%TEMP%\\TFLogFiles" />
        <add key="VersionControl.EnableSoapTracing" value="true" /> 
    </appSettings>
  
    <system.diagnostics>
        <switches>
            <add name="TeamFoundationSoapProxy" value="4" />
            <add name="VersionControl" value="4" />
            <add name="Download" value="2" />
            <add name="LocalWorkspaces" value="4" />
            <add name="API" value="4" />
            <add name="General" value="4" />
            <add name="Database" value="4" />
            <add name="Authorization" value="4" />
            <add name="Authentication" value="4" />
        </switches>
        <trace autoflush="true" indentsize="3">
            <listeners>
              <add name="perfListener" type="Microsoft.TeamFoundation.Client.PerfTraceListener,Microsoft.TeamFoundation.Client, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               />
            </listeners>
        </trace>
    </system.diagnostics>
  -->
</configuration>
